@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Hammersmith+One&display=swap');

$font-type: 'Epilogue', sans-serif;
$color-primary: hsl(0, 0%, 98%);
$color-secondary:hsl(0, 0%, 41%);
$color-tertiary: hsl(0, 0%, 8%);